<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
  <meta charset="UTF-8">
  <title>Leaders Page</title>
</head>

<body>
<h2>Home</h2>
<hr>

<p>Welcome to Leaders Page!</p>
<hr>

<p>
  User: <span sec:authentication="principal.username"></span>
  <br><br>
  Role(s): <span sec:authentication="principal.authorities"></span>
</p>
<hr>

<p>
  See you in Brazil.. For our annual Leadership retreat!
  <br>
  Keep the trip secret, don't tell the regular employees!
</p>
<hr>


<a th:href="@{/}">Go back to home page</a>
<hr>


<form action="#" th:action="@{/logout}" method="POST">
  <input type="submit" value="Logout"/>
</form>

</body>
</html>